# Pandas

In [34]:
import pandas as pd
import numpy as np

## Series

In [3]:
a = pd.Series([1,2,3,4,5])

In [4]:
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
print(a)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
a.values

array([1, 2, 3, 4, 5])

In [8]:
a.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
a = pd.Series([[6,7,8],[3,4,5],[1,2,3]])
a

0    [6, 7, 8]
1    [3, 4, 5]
2    [1, 2, 3]
dtype: object

### Series index

In [14]:
a = pd.Series([1,2,3],index=['a','b','c'])
a

a    1
b    2
c    3
dtype: int64

In [16]:
a = pd.Series([[1,2,3],[4,5,6],[4,5,6]],index=['jan','feb','mar'])
a

jan    [1, 2, 3]
feb    [4, 5, 6]
mar    [4, 5, 6]
dtype: object

In [18]:
list(a.index)

['jan', 'feb', 'mar']

### Series name

In [31]:
a = pd.Series([[1,2,3],[4,5,6]],index=['a','b'],name='data')
a

a    [1, 2, 3]
b    [4, 5, 6]
Name: data, dtype: object

### Getting Data

In [2]:
a = pd.Series([1,2,3,4,5],index=['M','T','W','T','F'],name='Daily Data')
a

M    1
T    2
W    3
T    4
F    5
Name: Daily Data, dtype: int64

In [3]:
a[1]

2

In [4]:
a.values[1]

2

In [5]:
a.index[1]

'T'

In [6]:
a['M']

1

In [7]:
a[['M','T']] # fancy indexing

M    1
T    2
T    4
Name: Daily Data, dtype: int64

In [8]:
a > 3

M    False
T    False
W    False
T     True
F     True
Name: Daily Data, dtype: bool

In [9]:
a[a>3]

T    4
F    5
Name: Daily Data, dtype: int64

In [11]:
a.index[a > 3]

Index(['T', 'F'], dtype='object')

In [12]:
a = pd.Series([[1,2,3],[4,5,6],[7,8,9]],index=['jan','feb','mar'],name='monthly Data')
a

jan    [1, 2, 3]
feb    [4, 5, 6]
mar    [7, 8, 9]
Name: monthly Data, dtype: object

In [13]:
a[1]

[4, 5, 6]

In [16]:
a[1][1]

5

In [19]:
a['feb']

[4, 5, 6]

In [25]:
a[1:3]

feb    [4, 5, 6]
mar    [7, 8, 9]
Name: monthly Data, dtype: object

In [26]:
a = pd.Series([2,2,2],[3,3,3])
a

3    2
3    2
3    2
dtype: int64

In [52]:
a = np.array([1,2,])
b = np.array(['mon','tue'])

In [53]:
c = pd.Series(a,index=b)
c

mon    1
tue    2
dtype: int64

In [59]:
obj = {'m':22,'t':44,'w':{'a':[22,33]}}
obj

{'m': 22, 't': 44, 'w': {'a': [22, 33]}}

In [60]:
a = pd.Series(obj)
a

m                 22
t                 44
w    {'a': [22, 33]}
dtype: object

### isnull

In [67]:
obj = {'a':1,'b':2,'c':3}
a = pd.Series(obj,index=['a','b','c','d'])
a

a    1.0
b    2.0
c    3.0
d    NaN
dtype: float64

In [68]:
a.isnull()

a    False
b    False
c    False
d     True
dtype: bool

In [69]:
a[a.isnull()]

d   NaN
dtype: float64

In [70]:
a[a.isnull()] = 0

In [72]:
a

a    1.0
b    2.0
c    3.0
d    0.0
dtype: float64